body{
	background:white;
}
p{
	color:darkblue;
	font-family:Georgia;	
}

@media(min-width:468px){
    .container-1{
    display:flex;
    justify-content:center;
	
	
    }
    
  
  .container-1 div, {
    border:10px solid black;
    flex-basis: 33%;  
  }
  
 
